/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
	overflow-x: hidden;
}
.horizontal-nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 30px 90px 30px 365px;
	margin-left: 25px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 0.5px solid rgba(17, 17, 17, .05);
}
.search-input {
	background: transparent;
	border: none;
	font-size: 14px;
	font-family: 'Metropolis Normal';
	height: 100%;
	width: 70%;
	padding-left: 25px;

}
.profile-icon { 
	padding: 8px;
	border: 1px solid #E7E7E7;
	border-radius: 50%;
}
.search-bar{
	width:446px;
	height: 56px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background-color: #F8F8F8;
	border-radius: 12px;
}
.search-icon {
	cursor: pointer;
}
.nav-wrapper ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav-wrapper ul li {
	margin-right: 30px;
}
.nav-wrapper ul li a{
	color: #FF2288;
	font-size: 14px;
	font-family: 'Metropolis Normal';
}
.hamburger {
	display: none;
}
.btn-2 {
	padding: 20px 35px;
	background: #FF2288;
	border:none;
	border-radius: 12px;
	color: white;
	cursor: pointer;
}
.messages{
	position: relative;
}
.notification{
	position: relative;
}
.dot {
	position: absolute;
	left: 15px;
}
.dot1 {
	position: absolute;
	left: 10px;
	top:-1px;
}
.vertical-wrapper {
	position: fixed;
	top: 0;
	height: 100%;
	background-color: #222222;
	padding: 30px;
}
.header-text{ 
	padding-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: Metropolis Normal;
	font-size:24px;
	color: white;
	margin-bottom: 100px;
}

.bold1 {
	font-family: Metropolis Bold;
}

.lines{
	margin-left:87px;
	margin-right: 30px;
}

.vertical-nav ul li {
	margin-bottom: 10px;
	width: 259px;
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 30px;
}

.vertical-nav ul li a {
	font-family: 'Metropolis Normal';
	margin-left: 18px;
	color: white;
}

.vertical-nav ul li:hover {
	background-color:#FF2288;
	border-radius: 12px;
}
.active{
	background-color:#FF2288;
	border-radius: 12px;
}

.following {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: white;
}
.avatars{
	margin:30px 0 20px 30px;
}
.avatars .following li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding:0px;
	margin-bottom: 15px;
}
.avatars .following  li a {
	font-family: 'Metropolis Normal';
	color: white;
	margin-left: 20px;
}
.ul-text{
	color: white;
	font-family: 'Metropolis Semi';
	font-size:12px;
	margin-left: 30px;
}
/*
.container {
	padding-right: 185px;
}*/
.category-container {
	margin-left: 500px;
	margin-top: 40px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
}
.category{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.category li {
	margin-right: 30px;
	margin-bottom: 30px;
}

.category li a {
	font-family: 'Metropolis Semi';
	color: #222222;
	font-size: 16px;
	padding: 20px;
}

.category li a:hover {
	background:#F2F2F2;
	border-radius:12px;
}
.active-li { 
	background:#F2F2F2;
	border-radius:12px;
}

.filter {
	background:#F2F2F2;
	border-radius:12px;
}
.filter-div:hover {
	background:#F2F2F2;
	border-radius:12px;
}
.filter-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'Metropolis Semi';
	font-size: 16px;
	padding: 18px;
	cursor: pointer;
}
.filter-image {
	margin-left:20px;
}
.filter-text{ 
	margin-left: 15px;
	margin-right: 25px;
}

.sect-container {
	margin-left: 465px;
}
.image-wrapper { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.image1-ext{
	position: relative;
	z-index: -1;
}
.add {
	position: absolute;
	top:48px;
	left: 50px;
	padding: 8px;
	background-color: white;
	border-radius: 12px;
	cursor: pointer;
}

.fav {
	position: absolute;
	top:100px;
	left: 50px;
	padding: 8px;
	background-color: white;
	border-radius: 12px;
	cursor: pointer;
}
.image1 > p {
	font-family: 'Metropolis Normal';
	font-size:18px;
	width: 289px;
	margin-left:35px;
}
.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 1228px;
	width: 100%;
}
.btn-1 {
	margin-top:70px;
	padding:20px 105px;
	border: none;
	cursor: pointer;
	background: #F2F2F2;
	border-radius: 12px;
}

.btn-1:hover {
	background: #dadada ;
	-webkit-transform: 2s;
	    -ms-transform: 2s;
	        transform: 2s;
}


.free__container{
	width: 25%;
}

.my__home__container{
	width: 75%;
	display: block;
	margin-top: 50px;
}
.text__wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.designers__text{
	font-family: 'Metropolis Semi';
font-size: 14px;
cursor: pointer;
}

.my__designers__p{
	font-family: 'Metropolis Semi';
font-size: 14px;
cursor: pointer;
}

.my__person{
	margin-left: 25px;
}
.my__person__p{
	font-size: 16px;
	font-family: 'Metropolis Normal';
	line-height: 21px;
	color: #707070;
}

.my__persons_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 100px;
}

.my__flex__cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.designers-wrapper {
	/*
	margin-left: 500px;*/
	padding-top: 30px;
}
.designers-text {
	font-size: 32px;
	color: #222222;
	font-family: 'Metropolis Semi';
}
.designers-text + p {
	font-family: 'Metropolis Semi';
	font-size: 14px;
	cursor: pointer;
}
.text-wrap{
	padding-bottom: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.persons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.persons > div {
	margin-right: 25px;
}
.person1 {
	padding-bottom: 20px;
}
.person-p{
	margin-top: 20px;
	font-size: 16px;
	font-family: 'Metropolis Normal';
	width: 80px;
	line-height: 21px;
	height: 42px;
}
.person-p+p {
	color: #707070;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

.btn-3 {
	padding: 14px 40px;
	background: transparent;
	border: 1px solid #D8D8D8;
	border-radius: 12px;
	cursor: pointer;
}
.followed {
	background-color: #F2F2F2;
}
.list-container a {
	color: black;
}
.list-container table {
	margin-top: 70px;
}
.list-container th , td{
	text-align: left;
	padding-right:160px;
	font-size: 20px;
	font-family: 'Metropolis Normal';
}
.list-container th {
	padding-bottom: 40px;
}
.list-container td{
	padding-bottom: 25px;
}

.icons {
	margin-left: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 40px;
}

.fb, .inst, .tw {
	margin-right: 25px;
}
.logo-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.logo {
	font-size: 16px;
	font-family: 'Metropolis Normal';

}
.bold {
	font-family: 'Metropolis Semi';
}
.list-container {
	margin-left: 500px;
	margin-bottom: 70px;
	border-bottom: 1px solid rgba(17,17,17, 0.05);
	width: 70%;
}
.icons {
	margin-left: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 40px;
	
}

.fb, .inst, .tw {
	margin-right: 25px;
}
.logo-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.logo {
	font-size: 16px;
	font-family: 'Metropolis Normal';

}
.bold {
	font-family: 'Metropolis Semi';
}

.table-container { 
	margin-top:60px;
	padding-right: 190px;
	min-height: 100vh;
	margin-left: 500px;
	font-family: 'Metropolis Normal';
	padding-bottom: 123px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.table-container table {
	border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.table-container table * {
	position: relative;
}
.table-container td, .table-container th {
 	padding-left: 8px;
	font-size: 18px;
	padding-bottom: 32px;
	padding-top: 32px;
}
.table-container th {
	border-bottom: 1px solid #E7E7E7;
	text-align: left;
}
.table-container td{
	padding-right: 100px;
	color: #AFAFAF;
	border-radius: 2px;
}
.table-container tr {
	border-bottom: 1px solid #E7E7E7;
}
.table-container tr:hover {
	background: #F2F2F2;
	border-radius: 12px;
	cursor: pointer;
}
.table-container   table thead tr {
  height: 60px;
}
.table-container   table tbody tr {
  height: 50px;
}
.table-container table tbody tr:last-child {
  border: 0;
}
.table-container table td, table th {
  text-align: left;
}
.table-container table td.l, table th.l {
  text-align: right;
}
.table-container table td.c, table th.c {
  text-align: center;
}
.table-container table td.r, table th.r {
  text-align: center;
}

.arrow {
	width: 40px;
	display: none;
}
.pink td{
	color: #FF2288
}
.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 1919px) {
	.persons{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.header-text {
		margin-bottom: 50px;
	}
	/*.horizontal-nav {
		padding-right: 0;
	}*/
}
@media screen and (max-width: 1700px) {
	.logo-wrapper {
		padding-right: 80px;
	}
}
@media screen and (max-width: 1520px) {
	.category-container {
		margin-left: 400px;
	}
	.sect-container {
		margin-left: 350px;
	}
	/*
	.designers-wrapper{
		margin-left: 400px;
	}*/
	.logo-wrapper {
		padding-right: 0;
	}
	.container {
		padding-right: 0;
	}
	.search-bar {
		width: 300px;
		margin-left: 20px;
	}
	.horizontal-nav{
		padding-right: 0;
	}
	.image-wrapper{
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

	}
	.image1{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
	}
	.image1-ext{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
	.designers {
		/*
		width: 100vw !important;
		*/
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1366px) {
	.header-text {
		padding-top: 20px;
		padding-left: 10px;
		margin-bottom: 30px;
	}
	.lines{
		margin-left:57px;
		margin-right: 30px;
	}
	
	.category-container {
		margin-left: 340px;
	}
	.sect-container {
		margin-left: 290px;
	}
	/*
	.designers-wrapper{
		margin-left:350px;
	}
	*/
	.designers {
		width: 100%;
	}
	.search-bar {
		width: 250px;
	}
	.vertical-wrapper{
		padding:0 0 0 5px;
	}
	.vertical-nav ul {
		width: 200px;
		
	}
	.vertical-nav ul li {
		padding: 10px;
		width: 150px;
		margin-left: 15px;
	}
	.vertical-nav ul li a{
		font-size: 12px;
	}
	.avatars{
		margin-left:25px;
	}
	.avatars .following li {
		margin-bottom: 15px;
	}
	.avatars .following  li a {
		margin-left: 5px;
		font-size: 12px;
	}
	.ul-text{
		margin-left: 25px;
	}
	.category li {
		margin-right: 10px;
	}
	.category li a{
		font-size:12px;
	}

	.filter-div{
		padding: 10px;
		margin-right: 50px;
		font-size: 12px;
	}
	.filter-text{ 
		margin-left: 15px;
		margin-right: 25px;
	}
	.horizontal-nav{
		margin-left: 0;
		padding-left: 300px;
	}
	.image1 > p {
		font-size:18px;
		margin-left:55px;
	}
	.designers-text {
		font-size: 20px;
	}
	.designers-text + p {
		font-size: 14px;
		margin-right: 50px;
	}
	.person-p{
		font-size: 14px;
	}
	.list-container {
		margin-left: 350px;
	}
	.list-container th , td{
		font-size: 12px;
	}
	.list-container th {
		padding-bottom: 40px;
	}
	.list-container td{
		padding-bottom: 25px;
	}
	.icons {
		margin-left: 350px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-bottom: 40px;
	}

	.fb, .inst, .tw {
		margin-right: 25px;
	}
	.logo-wrapper {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.logo {
		font-size: 16px;
		padding-right: 50px;
	}
}
@media screen and (max-width:1100px) {
	body {
		overflow-x: hidden;
	}
	.search-input {
		display: none;
	}
	.search-bar {
		width: 50px;
		padding:10px;
		border-radius:25%;
		margin-left: 45px;
	}

	.nav-wrapper{
		margin-left: 450px;
	}
	.sect-container, .category-container{
		margin-right: 150px;
		width: 100%;
	}
	.logo-wrapper{
		margin-right: -300px;
	}
	.list-container {
		margin-left:150px;
	}
}

@media screen and (max-width:768px) {
	.vertical-nav ul li a, .following li a, .lines {
		display: none;
	}
	.vertical-nav ul li{
		width: 50px;
		margin-bottom: 50px;
	}
	.following li{
		margin-bottom: 60px;
	}
	.header-text{
		padding-top: 30px;
		font-size: 15px;
	}
	.vertical-nav{
		width: 120px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.vertical-nav ul {
		margin-left: 20px;
	}
	.following {
		margin-left: 15px;
	}
	.ul-text{
		margin-left:15px;
		width: 60px;
	}
	.horizontal-nav {
		padding-left: 100px;
	}
	.naw-wrapper {
		margin-left: 800px;
	}
	.category-container{
		margin-left: 150px;
	}
	.category li a {
		font-size: 15px;
	}
	.category li {
		margin-left:20px;
	}
	.filter-div{
		font-size: 15px;
	}
	.sect-container {
		margin-left: 130px;
		width: 1000px;
	}
	.list-container {
		margin-left: 200px;
	}
}

@media screen and (max-width:576px) {
	body {
		overflow-x: hidden;
	}
	.vertical-wrapper{
		display: none;
	}
	.vertical-wrapper{
		height: auto;
		padding-bottom: 20px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.horizontal-nav{
		padding-left: 30px;
	}
	.search-bar {
		margin-left: 225px;
	}
	.nav-wrapper {
		margin-left: 200px;
	}
	.category-container {
		margin-left:25px;
		width: 100%;
	}
	.category {
		width: 100%;;
	}
	.sect-container {
		margin-left: 0;
	}
	.list-container {
		margin-left:50px;
	}
	.category {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding:0;
}
	.hamburger {
		width: 15%;
		display: inline-block;
		margin-left: 50px;
	}
	.category li a,.filter-div{
		font-size: 25px;
	}
	.icons{
		margin-left:100px;
	}
	.logo-wrapper{
		margin-left: 500px;
	}
	.image-wrapper{
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.image1{
		width: 75%;
	}
	.image1ext-image{
		width: 150%;
	}
	.add{
		left:100px;
		top: 100px;
	}
	.fav{
		left: 100px;
		top: 150px;
	}
	.list-container td{
		display: none;
	}
}

@media screen and (max-width:1260px){
	.vertical-wrappernav{
		display: none;
	}
	.horizontal-nav{
		padding-left: 30px;
	}
	.hamburger {
		display: inline-block;
		margin-left: 0;
		width: 5%;
	}
	.table-container {
		margin-left:100px;
		padding-right: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.list-container {
		margin-left: 100px;
	}
}
@media screen and (max-width: 992px) {
	.table-container {
		margin-left: 200px;
		width: 100%;
	}
  .table-container table {
    display: block;
  }
  .table-container table > *, .table-container table tr,.table-container table td,.table-container table th {
    display: block;
  }
	.list-container tr {
		display: block;
	}
  .table-container table thead {
    display: none;
  }
  .table-container	table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  .table-container	table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  .table-container table tbody tr td:last-child {
    margin-bottom: 0;
  }
  .table-container table tbody tr td:before {
    position: absolute;
    width: 40%;
		left:10px;
    top: 30px;
  }
  .table-container table tbody tr td:nth-child(1):before {
    content: "Date";
		font-size: 25px;
  }
  .table-container table tbody tr td:nth-child(2):before {
    content: "Order ID";
		font-size: 25px;
  }
  .table-container table tbody tr td:nth-child(3):before {
    content: "Name";
		font-size: 25px;
  }
  .table-container table tbody tr td:nth-child(4):before {
    content: "Price";
		font-size: 25px;
  }
  .table-container table tbody tr td:nth-child(5):before {
    content: "Quantity";
		font-size: 25px;
  }
  .table-container table tbody tr td:nth-child(6):before {
    content: "Total";
		font-size: 25px;
  }
	.list-container {
		margin-left: 150px;
	}
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .table-container {
    padding-left: 15px;
    padding-right: 15px;
  }
	.table-container th, .table-container td {
		font-size: 25px;
	}
	.list-container td {
		display: none;
	}
	.list-container th {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.list-container { 
		display: -webkit-box; 
		display: -ms-flexbox; 
		display: flex;
		margin-left: 50px
	}
	.arrow {
		display: inline-block;
	}
}

@media (max-width:1650px){
	.my__persons_cont{
			display: block;
	}

	.my__flex__cont{
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
	}

	.my__person{
			margin-left: 50px;
	}
	.for__top{
			margin-top: 50px;
	}
}

@media (max-width:1200px){
	.free__container{
			width: 30%;
	}
	
	.my__home__container{
			width: 70%;
	}
}

@media (max-width:1100px){
	.free__container{
			width: 50%;
	}
	
	.my__home__container{
			width: 50%;
	}
}

@media (max-width:1000px){
	.free__container{
			width: 40%;
	}
	
	.my__home__container{
			width: 60%;
	}
	.my__person{
			margin-left: 50px;
	}

	.my__persons_cont{
			-webkit-transform: translateX(100px);
			    -ms-transform: translateX(100px);
			        transform: translateX(100px);
	}
}

@media (max-width:820px){
	.my__persons_cont{
			-webkit-transform: translateX(130px);
			    -ms-transform: translateX(130px);
			        transform: translateX(130px);
	}
}

@media (max-width:620px){
	.my__persons_cont{
			-webkit-transform: translateX(180px);
			    -ms-transform: translateX(180px);
			        transform: translateX(180px);
	}
}
@media (max-width:450px){
	.my__persons_cont{
			-webkit-transform: translateX(220px);
			    -ms-transform: translateX(220px);
			        transform: translateX(220px);
	}
}


.flex{ 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}